* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: antiquewhite;
}

.title {
	position: absolute;
	right: 30px;
	top: 10px;
	color: rgba(255, 255, 255, 0.7);
	font-size: 24px;
}

.calculator {
	position: relative;
	width: 400px;
	background-color: rgb(33, 41, 41);
	padding: 50px 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 5, 24, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.7);
}

.display {
	width: 100%;
}

.display input {
	width: 100%;
	padding: 15px 10px;
	text-align: right;
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 35px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

.display input::placeholder {
	color: rgb(194, 192, 192);
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 20px;
	gap: 10px;
}

.buttons input[type="button"] {
	font-size: 20px;
	padding: 17px;
	border: none;
	background-color: transparent;
	color: #fff;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.buttons input[type="button"]:hover {
	box-shadow: 0 8px 25px #395b68;
}

input[type="button"].equal {
	grid-row: span 2;
	background-color: #ffc600;
}

input[type="button"].clearAll,
input[type="button"].eraseSingle {
	background-color: rgb(177, 36, 36);
}

input[type="button"][value="-"],
input[type="button"][value="+"],
input[type="button"][value="/"],
input[type="button"][value="*"] {
	background-color: rgb(31, 109, 31);
}

input[type="button"][value="0"] {
	grid-column: span 2;
}
